.Heading {
    display: flex;
    justify-content: space-between;
}

.Description {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Spinner {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}